
<header>
    <img src="../../assets/factorix.png" alt="">
    <nav>
        <ul class="nav">
            <li>Home</li>
            <li>TV Shows</li>
            <li>Movies</li>
            <li>New & Popular</li>
            <li>My List</li>
        </ul>
    </nav>
    </header>
<section class="videoBanner">
    <video src="../../assets/silicon.mp4" muted autoplay id="background-video"></video>
</section>
<div>
    <p>We Think You'll Love These</p>
<ul>
    <div class="wrapper">
        <section id="section1" class="slider">
        <a href="#section1" class="arrowButton leftArrow" (click)="scrollLeft($event)">‹</a>
        @for (movie of (movies | async) || []; track movie.id) {
            <div class="item">
            <!-- <div class="slider-item"> -->
                <a [routerLink]="['/movies', movie.id]">
                    <img [src]="movie.poster" alt="{{movie.title}}">
                </a>
            </div>
        }
        <a href="#section1" class="arrowButton rightArrow" (click)="scrollRight($event)">›</a>
        </section>
    </div>
</ul>
</div>
